* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

html,
body {
	max-width: 100vw;
	position: relative;
	overflow-x: clip;
	align-items: center;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0.75rem;
}

body::before {
	content: "";
	position: absolute;
	width: 200vw;
	height: 30rem;
	transform: rotate(330deg) translate(-5rem, -13rem);
	background-color: rgb(10, 150, 220) ;
	z-index: -1;
	box-shadow: 0.2rem7.2rem 0.2rem grey;
}

h1 {
	margin: 0.5rem;
}

img {
	object-fit: cover;
	width: 100%;
	box-shadow: 0.3rem 0.4rem 0.3rem grey;
	border-radius: 1rem;
}

.hero-photo {
	max-width: 70vw;
	align-self: center;
	margin-top: 3rem;
	& > p {
		padding: 1.3rem;
		padding-bottom: 1rem;
		transform: translateY(-100%);
		margin-bottom: -4rem;
		font-size: 2.2rem;
		text-align: center;
		color: white;
	}
	& span {
		color: black;
	}
}

.about {
	color: black;
	display: flex;
	flex-direction: column;
	align-items:center;
	& > p {
		color: grey;
		line-height: 1.8rem;
		font-size: 1.2rem;
		margin: 1.5rem;
	}
}

.about-icons {
	display: flex;
	padding-bottom: 2rem;
	justify-content: space-around;
	width: 60vw;
	& > button {
		width: 2.5rem;
		height: 2.5rem;
		font-size:: 1.8rem;
	}
}

/*------*/
.work-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}

.work-card {
	width: 15rem;
	border: 1px solid black;
	& > .image {
		
	}
	& > .work-description {
		
	}
}



footer {
	color: red;
	background-color: rgb(10, 170, 230)
}

.footer-top {
	padding: 0.8rem;
}

.bottom-image {
	height: 20rem;
	& img {
		width: 100vw;
		height: 100%;
		object-position: top;
	}
}
